@import url('https://fonts.googleapis.com/css2?family=Ubuntu+Condensed&display=swap');

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;

}
body{
    font-family:"Ubuntu Condensed", sans-serif;
}
.section-padding{
    padding:20px;
}
.container{
    max-width: 1200px;
    margin:auto;
    background-color: rgba(249, 249, 248, 0.85);
    padding: 20px 0;

}
.row{
    display: flex;
    flex-wrap: wrap;

    justify-content: space-between;
}
.title-small{
  font-size:20px;
 }



.mt-2{
    margin-top: 20px;
}
nav{
    width: 50%;
}
.menu{
    display: flex;
    gap: 10px;
}
.my-2{
    padding: 20px;
}
li {
    list-style: none;

    a {
        padding: 10px 20px;
        text-decoration: none;
        color: black;

        &:hover {
            color: greenyellow;
        }
    }
}
.py-2{
    padding: 20px;
}
.btn{
    width: 106px;
    height: 36px;
    top: 72px;
    left: 1306px;
}
.btn-2{
    width: 438px;
    height: 100px;

    color: white;
    background-color: black;
}
.radius-4x{
    border-radius: 10px;
}
.j-between{
    justify-content: space-between;
}
.text-field {
    width: 50%;
}
    h2 {
        font-size: 80px;

    p{
        font-size: 40px;
    }
}

.img-fluid{
    width: 50%;
    img{
        width: 70%;
    }
}
.description{
    width: 50%;
}